input type:touchpad {
	click_method	clickfinger button_areas
	accel_profile	flat
	natural_scroll	enabled
	dwt		enabled
	pointer_accel	0
	scroll_factor	0.5
	tap_button_map	lrm
	tap		enabled
	drag		enabled
}

output eDP-1 {
	resolution 2560x1600@165Hz 
	adaptive_sync on
	scale 2
}

bindsym XF86KbdBrightnessDown exec asusctl -p
bindsym XF86KbdBrightnessUp exec asusctl -n

bindsym XF86MonBrightnessDown exec enlighten -10% 
bindsym XF86MonBrightnessUp exec enlighten +10%
