input type:touchpad {
	click_method	clickfinger button_areas
	accel_profile	flat
	natural_scroll	enabled
	dwt		enabled
	pointer_accel	0
	scroll_factor	0.5
	tap_button_map	lrm
	tap		enabled
	drag		enabled
}

output eDP-1 {
	resolution 2560x1600@165Hz 
	adaptive_sync on
	scale 2
}

exec_always systemctl start --user xsettingsd

exec_always 'xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2'

bindsym XF86KbdBrightnessDown exec asusctl -p
bindsym XF86KbdBrightnessUp exec asusctl -n

bindsym XF86MonBrightnessDown exec enlighten -10% 
bindsym XF86MonBrightnessUp exec enlighten +10%

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle

bindsym Mod4+Shift+s exec grim "/home/$(whoami)/Pictures/Screenshots/screenshot_$(date +\"%m%d%Y_%H%M%S").jpg" 
