/*  by  */

$base00: #e7e4e0;
$base01: #bdbdbc;
$base02: #939698;
$base03: #696f74;
$base04: #3f4850;
$base05: #15222c;
$base06: #121c25;
$base07: #0f171f;
$base08: #296594;
$base09: #375da5;
$base0A: #63615a;
$base0B: #646157;
$base0C: #405b73;
$base0D: #606161;
$base0E: #626060;
$base0F: #606163;