@import "./colors.scss";

* {
    all: unset;
}

* {
    font-family: 'Blex Mono Nerd Font';
}

.icon {
    font-family: 'Blex Serif Nerd Font';
}

$spacing: 8px;
$borderWidth: 2px;
$primaryGradient: linear-gradient(180deg, $base08, $base09);
$secondaryGradient: linear-gradient(180deg, $base0B, $base0C);

tooltip {
    background-color: rgba($base00, .6);
    border-radius: $spacing;
    // border: $borderWidth $color7 solid;
    color: $base07;
    margin-left: 50px;
}

.statusbar {
    background-color: transparent;
    padding: $spacing 0 $spacing $spacing;
}

.statusbar-section {
    background-color: $base00;
    color: $base07;
    border-radius: $spacing;
}

.statusbar-top{
    padding: $borderWidth;
    background-image: $primaryGradient;
}

.statusbar-top > box {
    padding: $borderWidth;
    background-color: $base00;
    border-radius: calc($spacing - $borderWidth);
}

.statusbar-middle {
    padding: $spacing;
}

.statusbar-bottom {
    padding: $borderWidth;
    background-image: $secondaryGradient;
}

.statusbar-bottom > box {
    padding: $borderWidth;
    background-color: $base00;
    border-radius: calc($spacing - $borderWidth);
}

.workspaces button {
    border-radius: calc($spacing - $borderWidth * 2);
}

.workspaces button.current {
    background-image: $primaryGradient;
}

.workspaces button:hover {
    background-image: linear-gradient(135deg, rgba($base00, 0.7), rgba($base02, 0.7));
}

.statusbar-middle {
    background-image: linear-gradient(180deg, $base09, $base0B);
    border-style: solid;
    border-color: $base00;
    border-width: $borderWidth;
}

.systray {
    padding: 4 0 4 0;
    margin: -$borderWidth 0 0 0;
    border-radius: calc($spacing - $borderWidth * 2);
    color: $base00;
    background-image: $secondaryGradient;
}

.network {
    border-radius: calc($spacing - $borderWidth * 2);
    color: $base00;
    background-image: $secondaryGradient;
}

.battery {
    margin: 0 0 $borderWidth 0;
    background-color: $base08;
    border-radius: calc($spacing - $borderWidth * 2);
    color: $base00;
}

.battery.Charging {
    background-color: gold;
    color: $base07;
}

.battery.Warn {
    background-color: rgb(255, 0, 0);
    color: $base07;
}

.datetime {
    padding: $borderWidth;
    background-image: $secondaryGradient;
    border-radius: calc($spacing - $borderWidth * 2);
}

.datetime > .clock > label {
    border-radius: calc($spacing - $borderWidth * 2);
    background-color: $base00;
    color: $base07;
}

.datetime > .date {
    border-radius: calc($spacing - $borderWidth * 2);
    padding: $borderWidth;
    color: $base00;
}

.hardware {
    border-radius: calc($spacing - $borderWidth * 2);
    background-image: $secondaryGradient;
}

.hardware > box {
    margin: $borderWidth;
    border-radius: calc($spacing - $borderWidth * 3);
    background-color: $base00;
}

.hardware progressbar progress {
    background-color: $base08;
}

.hardware progressbar.color1 progress {
    background-color: $base01;
}

.hardware progressbar.color2 progress {
    background-color: $base02;
}
.hardware progressbar.color3 progress {
    background-color: $base03;
}

.hardware progressbar.color4 progress {
    background-color: $base04;
}

.hardware progressbar trough {
    min-width: 1px;
    border-radius: calc($spacing - $borderWidth * 2);
}

.sound {
    padding: $borderWidth;
    border-radius: calc($spacing - $borderWidth);
    background-image: $secondaryGradient;
}

.sound > box {
    border-radius: calc($spacing - $borderWidth * 2);
    background-color: $base00;
    padding: $borderWidth;
}

.sound .volume scale {
    min-height: 80px;
    padding: calc($borderWidth * 3) calc($borderWidth * 3) 0 calc($borderWidth * 3);
}

.sound .volume scale trough {
    border-radius: calc($spacing - $borderWidth * 3);
}

.sound .volume scale contents {
    background-color: $base08;
    border-radius: calc($spacing - $borderWidth * 3);
    padding: calc($spacing - $borderWidth * 3) 0;
}

.sound .volume scale slider {
    background-color: $base07;
    min-width: 1rem;
    min-height: calc($spacing - $borderWidth * 3) * 2;
    border-radius: calc($spacing - $borderWidth * 3);
}

.sound .volume scale highlight {
    background-image: $secondaryGradient;
    border-radius: calc($spacing - $borderWidth * 3);
    margin-bottom: calc(-1 * ($spacing - $borderWidth * 3));
}

