# Set Color variables for Hyprland
$color0 = rgb({{base00-hex}})
$color1 = rgb({{base01-hex}})
$color2 = rgb({{base02-hex}})
$color3 = rgb({{base03-hex}})
$color4 = rgb({{base04-hex}})
$color5 = rgb({{base05-hex}})
$color6 = rgb({{base06-hex}})
$color7 = rgb({{base07-hex}})
$color8 = rgb({{base08-hex}})
$color9 = rgb({{base09-hex}})
$color10 = rgb({{base0A-hex}})
$color11 = rgb({{base0B-hex}})
$color12 = rgb({{base0C-hex}})
$color13 = rgb({{base0D-hex}})
$color14 = rgb({{base0E-hex}})
$color15 = rgb({{base0F-hex}})

$background = $color0
$foreground = $color15
